<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cxw.com.wanandroidapp_login">

    <uses-permission android:name="android.permission.INTERNET " />

    <application
        android:name="cxw.com.commonapp.base.BaseApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".login.LoginActivity" >

        </activity>

        <activity android:name=".FramentContainerActivity"/>
        <activity android:name=".register.RegisterActivity"/>
        <activity android:name=".WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBarWithBackGround">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>